@tailwind base;
@tailwind components;

.hero {
  z-index: -10;
}

.trailer{
  height: 250px;
}

.header {
  height: 400px;
}



.movie-card-container {
  @apply flex flex-shrink-0;
}

.movie-card-link {
  @apply relative block mx-2;
}

.movie-card-content {
  @apply absolute inset-0 bg-black opacity-75 p-4 hidden  flex-col justify-end text-white cursor-pointer;
}

.movie-card-title {
  @apply text-lg mb-2;
}

.movie-card-text {
  @apply leading-normal select-none;
}

.trailer{
  height: 800px;
}

.btn-primary {
  @apply bg-transparent uppercase border border-yellow-600 text-yellow-600 px-10 py-3 inline-block;
}
.btn-primary:hover {
  @apply bg-yellow-600 text-white cursor-pointer
}
@tailwind utilities;
